@model WebApplicationCoreEF.Models.Entrant

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Entrant</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustomInformation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustomInformation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Snils)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Snils)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MobilePhone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MobilePhone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Uid)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Uid)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModifiedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModifiedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MiddleName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MiddleName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PersonLinkDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PersonLinkDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EntrantGuid)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EntrantGuid)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FactAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FactAddress.AddressId)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Gender)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gender.Name)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdentityDocument)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdentityDocument.DocumentSpecificData)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Institution)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Institution.Ogrn)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Person)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Person.NormSurname)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RegistrationAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RegistrationAddress.AddressId)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="EntrantId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
